.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: .2;
    width: 100%;
    padding: 0;
    z-index: 0;
}